<nav class="navbar">
    <a href="/" class="navbar-brand">DevConnect</a>
    <div class="navbar-links">
        <a href="/explore" class="nav-link">Explore</a>
        <a href="/dashboard" class="nav-link">Dashboard</a>
        <a href="/post/create" class="nav-link">Write</a>
        
        <% if (typeof user !== 'undefined' && user) { %>
            <div class="user-menu">
                <div class="avatar avatar-sm" title="<%= user.name %>">
                    <%= user.name.charAt(0).toUpperCase() %>
                </div>
                <a href="/auth/logout" class="btn btn-secondary btn-sm">Logout</a>
            </div>
        <% } else { %>
            <a href="/auth/login" class="nav-btn">Sign In</a>
        <% } %>
    </div>
</nav>